<md-card class="app-input-section">
  <md-input [(ngModel)]="newItem.name" placeholder="First name"></md-input>
  <md-input placeholder="Last name"></md-input>
</md-card>



<button md-raised-button type="button" color="primary" 
    (click)="dialogRef.close(newItem)" md-tooltip="This is a tooltip!">Salva</button>
<button md-raised-button type="button" (click)="dialogRef.close()">Annulla</button>
<button md-raised-button type="button" (click)="dialogRef.close({item: newItem, delete:true})">Rimuovi</button>